*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  color: #000000;
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

