*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --white: #ffffff;
  --whitealpha: #ffffff67;
  --black: #000000;
  --offwhite: #f6f6f6;
  --blue: #0f6aff;
  --bluealpha: #0f6aff67;
}

html{
  height: 100%;
  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  color: var(--black);
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: max-content;
}

a{
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

a.footer {
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--offwhite);
  width: 100%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
